body,table,tr,td,select,div,form {font-family:Tahoma,Verdana; LINE-HEIGHT:170%; font-size:12pt; font-weight:bold; color:#003399;} 

A:link { text-decoration:none; color:#CC9900 }
A:active { text-decoration:none; color:#CC9900 }
A:visited { text-decoration:none; color:#CC9900 }
A:hover { text-decoration:none; color:#003399; position:relative; top:1; left:1;}