
<!--  색깔만 수정하고 제작자 이름 바꾸지 마세요 ^^ 수정 후 배포시 미리 허락을 받아주세요. http://www.louahn.com  -->

body,table,tr,td,select,div,form {font-family:Tahoma,Verdana; LINE-HEIGHT:170%; font-size:9pt; color:#003399;} 
  
BODY {scrollbar-face-color:#FAE20E;
scrollbar-highlight-color:#FAE20E;
scrollbar-3dlight-color:#FAE20E;
scrollbar-darkshadow-color:#FAE20E;
scrollbar-shadow-color:#FACA0E;
scrollbar-arrow-color:#FACA0E;
scrollbar-track-color:#FAE20E;}

textarea {scrollbar-face-color:#FAE20E;
scrollbar-highlight-color:#FAE20E;
scrollbar-3dlight-color:#FAE20E;
scrollbar-darkshadow-color:#FAE20E;
scrollbar-shadow-color:#FACA0E;
scrollbar-arrow-color:#FACA0E;
scrollbar-track-color:#FAE20E;
background-color:transparent}

body {background-color:transparent}

A:link { text-decoration:none; color:#CC9900 }
A:active { text-decoration:none; color:#CC9900 }
A:visited { text-decoration:none; color:#CC9900 }
A:hover { text-decoration:none; color:#003399; position:relative; top:1; left:1;}


  
.textarea  {border:0; font-family:verdana;font-size:9pt;color:#003399;background-color:transparent;overflow-x:hidden; overflow-y:auto;LINE-HEIGHT:170%;} 

.num       {font-family:Verdana;font-size:7pt}
.num2      {font-family:Tahoma;font-size:7pt;color:#003399}  <!--  리스트에 번호랑 조회수 -->
.num3      {font-family:Tahoma;font-size:7pt;color:#003399}  <!--  코멘트 날짜랑 아이피숫자 -->

.view8     {font-family:Verdana;font-size:8pt;color:#CC9900} <!--  View에서 V 색깔 -->
.view81    {font-family:Verdana;font-size:7pt;color:#003399} <!--  View에서 iew 색깔 -->

.view      {font-family:Verdana;font-size:7pt;color:#CC9900} <!--  Name에서 N 색깔 -->
.view3     {font-family:Verdana;font-size:7pt;color:#003399} <!--  Name에서 ame 색깔 -->


.han9      {font-family:굴림,Tahoma;font-size:9pt;color:#003399} <!-- 카테고리 -->
.han8      {font-family:tahoma;color:797979;font-size:8pt;}     <!--  카테고리 -->
.notice    {font-family:Tahoma;font-size:9pt;color:#003399} <!--  공지사항 글제목 색깔, 코멘트에서 이름색깔 -->

.input    {border:solid 0;background:url(img/dot_line.gif) repeat-x left bottom;font-family:verdana,Tahoma;font-size:8pt;color:#003399;height:17px}
.input2   {border:solid 0;background:url(img/dot_line.gif) repeat-x left bottom;font-family:verdana,Tahoma;font-size:8pt;color:#003399;height:17px}
.input3   {border:solid 0;background:url(img/dot_line.gif) repeat-x left bottom;font-family:verdana,Tahoma;font-size:8pt;color:#003399;height:17px} 
.input4   {border:0; font-family:verdana;font-size:8pt;color:#003399;background-color:#FAE20E;height:17px}
